<!DOCTYPE html>
<html>
<head>
    <title>LoL Perfil</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>Buscar Invocador</h1>
    <form action="/buscar" method="POST">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <span>#</span>
        <input type="text" name="tag" placeholder="TAG" required>
        <button type="submit">Buscar</button>
    </form>
</body>
</html>